* {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    /*noinspection CssInvalidPropertyValue*/
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    color: white;
    font-family: Minecraft, serif;
    user-select: none;
    letter-spacing: 1px;
}

:root {
    --mouse-x: 0;
    --mouse-y: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

.game {
    cursor: crosshair;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

img {
    pointer-events: none;
}

.esc-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.btn {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: scale .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    scale: 1.05;
}

.gone {
    opacity: 0;
    pointer-events: none;
}

.info {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    font-family: Minecraft, serif;
    font-size: 20px;
}

.hotbar {
    position: fixed;
    left: 50%;
    bottom: 0;
    translate: -50%;
    display: flex;
    pointer-events: none;
    height: 7%;
    aspect-ratio: 9 / 1;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.item > img {
    width: 60%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}

.item > .count {
    position: absolute;
    right: 10%;
    bottom: 3%;
    pointer-events: none;
}

.item > .damage {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 20%;
    height: 3%;
    background: #00ff00;
    pointer-events: none;
}

.hotbar-item {
    position: relative;
    background-image: url("../assets/gui/inventory/hotbar.png");
    background-size: 100%;
    width: calc(100% / 9);
    height: 100%;
}

.hotbar-item-selected {
    background-image: url("../assets/gui/inventory/selected_hotbar.png");
}

.hotbar-item > img {
    width: 50%;
}

.hotbar-item > .count {
    right: 15%;
    bottom: 10%;
}

.pause {
    position: fixed;
    right: 5px;
    top: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    rotate: 90deg;
    cursor: pointer;
    font-family: monospace, serif;
}

.inventory-ui {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.inventory-ui > .container {
    height: 65%;
}

#player-inventory-ui > .container {
    background: url("../assets/gui/inventory/player_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#crafting-table-ui > .container {
    background: url("../assets/gui/inventory/crafting_table.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#furnace-ui > .container {
    background: url("../assets/gui/inventory/furnace_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#chest-ui > .container {
    background: url("../assets/gui/inventory/chest_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#double-chest-ui > .container {
    background: url("../assets/gui/inventory/double_chest_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 222;
}

#hopper-ui > .container {
    background: url("../assets/gui/inventory/hopper_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 121 / 92;
}

#shulker-ui > .container {
    background: url("../assets/gui/inventory/shulker_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#dropper-ui > .container {
    background: url("../assets/gui/inventory/dropper_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

#grindstone-ui > .container {
    background: url("../assets/gui/inventory/grindstone_inventory.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 176 / 166;
}

.armor-inventory {
    position: absolute;
    left: 4%;
    top: 4%;
    width: 10%;
    height: 43%;
}

.armor-inventory > .item {
    width: 100%;
    height: 25%;
}

.player-inventory {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 4%;
    top: 50%;
    width: 92%;
    height: 32%;
}

.player-inventory > .item {
    width: calc(100% / 9);
    height: calc(100% / 3);
}

.hotbar-inventory {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 4%;
    top: 85%;
    width: 92%;
    height: 11%;
}

.hotbar-inventory > .item {
    width: calc(100% / 9);
    height: 100%;
}

.craft-inventory-in {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 49.5%;
    top: 15%;
    width: 20.5%;
    height: 21%;
}

.craft-inventory-in > .item {
    width: 50%;
    height: 50%;
}

.craft-inventory-out {
    position: absolute;
    left: 81.2%;
    top: 21%;
    width: 10%;
    height: 10%;
}

.craft-inventory-out > .item {
    width: 100%;
    height: 100%;
}

.cursor-inventory {
    pointer-events: none;
    position: fixed;
    left: var(--mouse-x);
    top: var(--mouse-y);
    translate: -50% -50%;
    width: 64px;
    height: 64px;
}

.cursor-inventory > .item {
    width: 100%;
    height: 100%;
}

.chat {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 50%;
    overflow: hidden;
}

.chat > input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: Minecraft, serif;
}

.chat > .messages {
    position: absolute;
    bottom: 25px;
    text-shadow: 0 0 5px black;
}

.chat > .messages > .msg {
    font-family: Minecraft, serif;
}

.crafting-inventory-in {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 17%;
    top: 10%;
    width: 30%;
    height: 32%;
}

.crafting-inventory-in > .item {
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.crafting-inventory-out {
    position: absolute;
    left: 70%;
    top: 21%;
    width: 10%;
    height: 10%;
}

.crafting-inventory-out > .item {
    width: 100%;
    height: 100%;
}

.connection-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.connection-menu > .container {
    width: 70%;
}

.connection-menu > .container > .text {
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
    word-wrap: anywhere;
}

.connection-menu > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connection-menu > .container > .btn {
    width: 10vw;
}

.connection-menu > .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/blocks/dirt.png");
    background-size: 64px 64px;
    filter: brightness(0.4);
}

.furnace-in {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 31.5%;
    top: 9.5%;
    width: 10%;
    height: 32%;
}

.furnace-in > .item {
    width: 100%;
    height: calc(100% / 3);
}

.furnace-in > .item:nth-child(2) {
    translate: 0 56%;
}

.furnace-out {
    position: absolute;
    left: 65.4%;
    top: 21%;
    width: 10%;
    height: 10%;
}

.furnace-out > .item {
    width: 100%;
    height: 100%;
}

#furnace-arrow {
    --progress: 0;
    position: absolute;
    left: 45.5%;
    top: 21.1%;
    background: url("../assets/gui/inventory/furnace_arrow.png") no-repeat;
    background-size: 100%;
    width: 12.5%;
    aspect-ratio: 22 / 15;
    opacity: 1;
    clip-path: polygon(0 0, var(--progress) 0, var(--progress) 100%, 0 100%);
}

#furnace-smelt {
    --progress: 0%;
    position: absolute;
    left: 32.4%;
    top: 22.2%;
    background: url("../assets/gui/inventory/furnace_smelt.png") no-repeat;
    background-size: 100%;
    width: 7.5%;
    aspect-ratio: 13 / 13;
    opacity: 1;
    clip-path: polygon(100% 100%, 0 100%, 0 calc(100% - var(--progress)), 100% calc(100% - var(--progress)));
}

.chest-inventory {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 4%;
    top: 10%;
    width: 92%;
    height: 32%;
}

.chest-inventory > .item {
    width: calc(100% / 9);
    height: calc(100% / 3);
}

.attributes {
    position: fixed;
    left: 50%;
    bottom: 8%;
    translate: -50%;
    display: flex;
    pointer-events: none;
    height: 7%;
    aspect-ratio: 9 / 1;
}

.attributes > .container {
    position: relative;
    width: 100%;
    height: 100%;
}

.xp-attribute {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    background: url("../assets/gui/inventory/xp_bar_empty.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 182 / 5;
}

.xp-attribute > div:first-child {
    --progress: 0%;
    width: 100%;
    border-radius: 5px;
    background: url("../assets/gui/inventory/xp_bar_full.png") no-repeat;
    background-size: 100%;
    aspect-ratio: 182 / 5;
    clip-path: polygon(0 0, var(--progress) 0, var(--progress) 100%, 0 100%);
}

.xp-attribute > div:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -100%;
    color: lime;
    font-weight: bold;
}

.group-armor-health {
    position: absolute;
    bottom: 40%;
    width: 45%;
    height: max-content;
}

.group-food-breath {
    position: absolute;
    bottom: 40%;
    right: 0;
    width: 45%;
    height: max-content;
}

.food-attribute > div, .breath-attribute > div, .health-attribute > div, .armor-attribute > div {
    width: 100%;
    display: flex;
}

.food-attribute {
    transform: scaleX(-1);
}

.health-attribute > div > div {
    background-repeat: no-repeat;
    background-size: 90%;
    aspect-ratio: 10 / 9;
    width: 10%;
}

.food-attribute > div > div {
    background: url("../assets/gui/food/food_full.png") no-repeat;
    background-size: 90%;
    aspect-ratio: 9 / 9;
    width: 10%;
    transform: scaleX(-1);
}

.breath-attribute > div > div {
    background: url("../assets/gui/breath/breath_full.png") no-repeat;
    background-size: 90%;
    aspect-ratio: 9 / 9;
    width: 10%;
    margin-bottom: 2px;
}

.armor-attribute > div > div {
    background: url("../assets/gui/armor/armor_full.png") no-repeat;
    background-size: 90%;
    aspect-ratio: 9 / 9;
    width: 10%;
    margin-bottom: 2px;
}

.actionbar {
    position: absolute;
    pointer-events: none;
    left: 50%;
    translate: -50%;
    white-space: nowrap;
    top: calc(-30% - 10px);
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    opacity: 0;
}

.container-cursor-text {
    position: absolute;
    pointer-events: none;
    left: var(--mouse-x);
    top: var(--mouse-y);
    background: #361b38;
    padding: 8px;
    border-radius: 0 8px 8px 8px;
    opacity: 0;
}

.player-list {
    position: fixed;
    pointer-events: none;
    left: 50%;
    top: 2%;
    translate: -50%;
    padding: 20px 37px 20px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    min-width: 7%;
    height: max-content;
}

.player-list > .player {
    position: relative;
    margin-bottom: 10px;
}

.player-list > .player:last-child {
    margin-bottom: 0;
}

.player-list > .player > .connection {
    position: absolute;
    right: -5%;
    top: 0;
    translate: 100%;
    height: 80%;
    aspect-ratio: 10 / 7;
    background-repeat: no-repeat;
    background-size: 100%;
}

.player-inventory-canvas {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 30%;
    aspect-ratio: 3 / 4;
}