name: Static Site Deployment

on:
 push:
  branches:
   - main

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout
     uses: actions/checkout@v2

   - name: Deploy
     uses: peaceiris/actions-gh-pages@v3
     with:
      github_token: ${{ secrets.ACTIONS_DEPLOY_KEY }}
      publish_dir: ./client